flows.json
[{"id":"e5783498.58e18","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3bd5b338.e300bc","type":"ui_form","z":"e5783498.58e18","name":"","label":"","group":"36cc5381.61df84","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"Create account","cancel":"cancel","topic":"","x":170,"y":140,"wires":[["c3916c54.e7417","ff9d3cad.54c778"]]},{"id":"c3916c54.e7417","type":"debug","z":"e5783498.58e18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":40,"wires":[]},{"id":"ff9d3cad.54c778","type":"function","z":"e5783498.58e18","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":140,"wires":[["43e88e33.fc0ab"]]},{"id":"43e88e33.fc0ab","type":"cloudant out","z":"e5783498.58e18","name":"cloudant","cloudant":"","database":"sample_reg","service":"node-red-xgkut-2020--cloudant-1597403393461-11429","payonly":true,"operation":"insert","x":560,"y":140,"wires":[]},{"id":"fc288bd4.63ea48","type":"ui_form","z":"e5783498.58e18","name":"","label":"","group":"ce9d5455.71a478","order":1,"width":"0","height":"0","options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"Login","cancel":"cancel","topic":"","x":70,"y":220,"wires":[["fe4c7a4d.32bd28"]]},{"id":"fe4c7a4d.32bd28","type":"function","z":"e5783498.58e18","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":220,"wires":[["20564c2f.f3463c"]]},{"id":"20564c2f.f3463c","type":"function","z":"e5783498.58e18","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":220,"wires":[["c8d47803.96e44"]]},{"id":"c8d47803.96e44","type":"cloudant in","z":"e5783498.58e18","name":"","cloudant":"","database":"sample_reg","service":"node-red-xgkut-2020--cloudant-1597403393461-11429","search":"_idx_","design":"login","index":"login","x":490,"y":220,"wires":[["a2c6d481.9efd48"]]},{"id":"a2c6d481.9efd48","type":"function","z":"e5783498.58e18","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Successful';\n    \n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":220,"wires":[["12694c3e.94a444"]]},{"id":"12694c3e.94a444","type":"ui_text","z":"e5783498.58e18","group":"ce9d5455.71a478","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":220,"wires":[]},{"id":"27ab0393.cd171c","type":"ui_form","z":"e5783498.58e18","name":"","label":"","group":"fa79608d.1852e","order":1,"width":"6","height":"8","options":[{"label":"User Input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":280,"wires":[["2abc4884.4153e8"]]},{"id":"2abc4884.4153e8","type":"function","z":"e5783498.58e18","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":280,"wires":[["64e22778.aafb38"]]},{"id":"64e22778.aafb38","type":"watson-conversation-v1","z":"e5783498.58e18","name":"","workspaceid":"6c6f0b6a-37d6-4b64-a475-952b6f113915","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/b543a9ee-b50e-4e3c-a320-f7622827c768","timeout":"","optout-learning":false,"x":340,"y":280,"wires":[["16906d66.50d813","7c71f3a0.b7a26c"]]},{"id":"16906d66.50d813","type":"function","z":"e5783498.58e18","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":280,"wires":[["128d418e.ede4ae","1ac9cef5.635101"]]},{"id":"7c71f3a0.b7a26c","type":"debug","z":"e5783498.58e18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":340,"wires":[]},{"id":"128d418e.ede4ae","type":"ui_audio","z":"e5783498.58e18","name":"","group":"fa79608d.1852e","voice":"","always":"","x":700,"y":340,"wires":[]},{"id":"1ac9cef5.635101","type":"ui_template","z":"e5783498.58e18","group":"fa79608d.1852e","name":"","order":2,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":700,"y":280,"wires":[[]]},{"id":"36cc5381.61df84","type":"ui_group","z":"","name":"Registration","tab":"43d95d6.bd46924","order":1,"disp":true,"width":"6","collapse":false},{"id":"ce9d5455.71a478","type":"ui_group","z":"","name":"Login","tab":"95aeadcc.14be28","order":1,"disp":true,"width":"6","collapse":false},{"id":"fa79608d.1852e","type":"ui_group","z":"","name":"Customare Care Bot","tab":"a23b7906.2a2438","order":2,"disp":true,"width":"6","collapse":false},{"id":"43d95d6.bd46924","type":"ui_tab","z":"","name":"Reg form","icon":"dashboard","disabled":false,"hidden":false},{"id":"95aeadcc.14be28","type":"ui_tab","z":"","name":"Login form","icon":"dashboard","disabled":false,"hidden":false},{"id":"a23b7906.2a2438","type":"ui_tab","z":"","name":"Customer help","icon":"dashboard","disabled":false,"hidden":false}]